<html>
<head>
<title>Node.Js and Passport App</title>
<link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css">
</head>
<body>
<%- body %>
</body>
</html>